# Configuration Pixel
PIXEL_AUTO_PUBLISH=false
PIXEL_PUBLISH_URL=https://appliyou.fr/auth/login
PIXEL_PUBLISH_USER=admin
PIXEL_PUBLISH_PASS=
PIXEL_PUBLISH_CREATE_URL=https://appliyou.fr/admin/articles/

# Clés optionnelles
# GOOGLE_API_KEY=
# GOOGLE_CX=
